html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

 
.grid-container {
display: grid;
row-gap: 15px;
grid-template-columns: auto auto auto;
background-color: #081E3F;
padding: 10px;
  
}

.grid-item {

padding: 20px;
font-size: 30px;
text-align: center;
}

#chatbox_grid_container
{
padding: 10px;
background-color: #081427;
height: 80vh;
overflow:hidden;
overflow-y: scroll;
/* display:flex;
flex-direction: column; */
}

#chatbox_grid_container::-webkit-scrollbar{
	width: 10px;
}

#chatbox_grid_container::-webkit-scrollbar-thumb{
	background-color: #081E3F;
}


#chatbox_grid_container::-webkit-scrollbar-track{
	background-color: #081427;
}





.input-container{
display: grid;
grid-template-columns: 90% 10%;
background-color: #152E52 
  

}

input{
height: 39px;
width: 65%;
float: right;
margin: 10px;
text-align: middle;
}

.sendbutton
{
width: 50px;
background-color: transparent;
border: none;
cursor: pointer;
float: left;
}

.sendbutton
{
float: left;
width: 40px;
color: white;

}

.chat-bubble {
background-color: #fff;
color: #000;
padding: 16px;
border-radius: 20px;
/* display: flex;
flex-direction: column-reverse; */
margin: 10px;
margin-left: 85%;
float: right;

} 


.ai-chat-bubble{
background-color: #fff;
color: #000;
padding: 16px;
border-radius: 20px;
/* display: flex; */
/* flex-direction: column-reverse; */
margin: 10px;
margin-right: 40%;
float: left;
}

span img{
	float: left;
	display: flex;
	flex-direction: column;
	margin: 10px;
	margin-right: 40%;
}